.color-container {
    width: 250px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.699);
    position: absolute;
    top: 2%;
    right: 1%;
    border-radius: 20px;
    opacity: .8;
    transition: .5s all ease-out;
    opacity: 0.7;
}

.color-container:hover {
    opacity: 1;
}


.slider {
    margin: auto;
    width: 100%;
    padding-top: 5px;
}

.color-card-icon {
    padding-top: 5px;
    font-weight: 400;
}

.color-card-title {
    /* border: 1px solid black; */
    display: flex;
    font-weight: 600;
    padding: 8px 0;
    justify-content: space-around;
}

.colors-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(216, 210, 210, 0.767);
    /* border: 2px solid rgba(216, 210, 210, 0.767); */
    padding: 10px 0;
    margin:20px 0;
}

.color-inner-div {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    padding: 5px;
    min-width: 170px;


}

.color-inner-div > div {
    flex-basis: 15%;
  }

  .slide-indicator {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #080808;
    padding: 0 20% ;
  }
  
  .slide-indicator-line {
    flex: 1;
    height: 1px;
    background-color: #080808;
    margin: 0 10px;
  }
  

  

/* Menu css */
.menu-container {
  position: absolute;
  top: 2%;
  right: 1%;
  width: 350px;
  height: 500px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.menu-header {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.menu-header-feature {
  font-size: 18px;
  margin-bottom: 10px;
}

.menu-header-info{
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.menu-items-container {
  max-height: 400px;
  overflow-y: auto;
}

.menu-heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

label {
  font-size: 14px;
}

.user-form {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}





.user-form-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}


.form-field {
  margin-bottom: 10px;
  
}


.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-field input,
.form-field select {
  width: 92%;
  padding: 10px;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid #ddd ;
  border-radius: 5px;
}

.form-field select {
  cursor: pointer;
}

.submit-button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:  rgb(39, 38, 38);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.submit-button:hover {
  background-color: #6b726b;
}


.quantity-input {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.quantity-input label {
  margin-right: 10px; 
}

.quantity-input input {
  width: 50px; 
}
